body {
    margin-top: 55px;
}
.name {
    font-family: 'Kaushan Script', cursive;
    padding: 15px 0;
}
.content-1 h5 {
    font-family: 'Kaushan Script', cursive;
}
#home {
    padding: 130px 0;
    vertical-align: middle;
    height: 500px;
    color: #fff;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
@media only screen and (min-width: 992px)  {
}
@media only screen and (min-width: 768px)  {

}
@media only screen and (min-width: 562px)  {

}
@media only screen and (min-width: 320px)  {
    .name {
        font-size: 300%;
        padding-bottom: 30px;
    }
    .content-1 {
        padding-top: 50px;
        padding-left: 10px;
        
    }
    .content-1 h5 {
        font-size: 160%;
        font-family: 'Kaushan Script', cursive;
    }
    .title {
        font-size: 240%;
    }
    p.lead {
        font-size: 100%;
    }
    h5 {
        font-size: 100%;
        padding-left: 10px;
    }
    i  {
        padding-bottom: 12px;
    }
    .fab {
        color: #fff;
        font-size: 150%;
        padding-right: 5px;
    }
}