.profile {
    width: 150px;
    border-radius: 500px;
    padding: 15px 0;
}
hr {
   border: 3px solid #4286f4;
   width: 20%;
}
@media (min-width: 576px) {
    hr {
        width: 70%;
     }
}
@media (min-width: 320px) {
    hr {
        width: 60%;
     }
}
@media (min-width: 992px) {
    hr {
        width: 20%;
     }
}